# Exploring Zendesk data

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading CSV data

In [7]:
zendesk_data = pd.read_csv('data/zendesk-data-2017-03-20-0132.csv')

zendesk_data.head()

,Summation column,Id,Requester,Requester id,Requester external id,Requester email,Requester domain,Submitter,Assignee,Group,...,First resolution time in minutes within business hours,Full resolution time in minutes,Full resolution time in minutes within business hours,Agent wait time in minutes,Agent wait time in minutes within business hours,Requester wait time in minutes,Requester wait time in minutes within business hours,On hold time in minutes,On hold time in minutes within business hours,Coach Date [txt]
0,1,1,Sample customer,7009632747,NaN,customer@example.com,example.com,Eduardo Medina,Eduardo Medina,Support,...,6881.0,6881.0,6881.0,0.0,0.0,6881.0,6881.0,0.0,0.0,-
1,1,2,Zendesk Support,7248980687,NaN,noreply@zendesk.com,zendesk.com,Zendesk Support,Eduardo Medina,Support,...,56.0,56.0,56.0,0.0,0.0,56.0,56.0,0.0,0.0,-
2,1,3,Carlos Souza,7312219668,NaN,carlos@udacity.com,udacity.com,Carlos Souza,Eduardo Medina,Support,...,47.0,47.0,47.0,0.0,0.0,47.0,47.0,0.0,0.0,-
3,1,4,Aparna,7249407967,NaN,aparna@udacity.com,udacity.com,Aparna,Eduardo Medina,Support,...,31.0,31.0,31.0,0.0,0.0,31.0,31.0,0.0,0.0,-
4,1,5,Eduardo Medina,7009632527,NaN,eduardo@udacity.com,udacity.com,Eduardo Medina,Eduardo Medina,Support,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-

In [8]:
zendesk_data.columns

Index(['Summation column', 'Id', 'Requester', 'Requester id',
       'Requester external id', 'Requester email', 'Requester domain',
       'Submitter', 'Assignee', 'Group', 'Subject', 'Tags', 'Status',
       'Priority', 'Via', 'Ticket type', 'Created at', 'Updated at',
       'Assigned at', 'Organization', 'Due date', 'Initially assigned at',
       'Solved at', 'Resolution time', 'Satisfaction Score', 'Group stations',
       'Assignee stations', 'Reopens', 'Replies',
       'First reply time in minutes',
       'First reply time in minutes within business hours',
       'First resolution time in minutes',
       'First resolution time in minutes within business hours',
       'Full resolution time in minutes',
       'Full resolution time in minutes within business hours',
       'Agent wait time in minutes',
       'Agent wait time in minutes within business hours',
       'Requester wait time in minutes',
       'Requester wait time in minutes within business hours',
       'On hold time in minutes',
       'On hold time in minutes within business hours', 'Coach Date [txt]'],
      dtype='object')

In [9]:
zendesk_data.shape

(7802, 42)

# Explore `auth_user` data

In [13]:
auth_user_data = pd.read_csv('data/ebdb_public_auth_user.csv')

auth_user_data.head()

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined
0,32,Loro152729,NaN,False,8612126725,Yury,Oliveira,yurypoliveira@gmail.com,False,True,2016-06-23 12:49:30.164493
1,2,NaN,NaN,False,8266765039,Luis,Yoshida,lfoyoshida+test1@gmail.com,False,True,2016-06-21 14:59:29.171147
2,3,NaN,NaN,False,6185486776,Ricardo,Ricci Lopes,ricardoriccilopes@gmail.com,False,True,2016-06-21 21:24:35.111853
3,4,NaN,NaN,False,8540689932,Gustavo,Aguilar,gustavooaguilar@gmail.com,False,True,2016-06-21 21:41:19.725634
4,5,NaN,NaN,False,4499449186,Pedro,Imai,pedroimai90@gmail.com,False,True,2016-06-21 22:39:28.873755

In [14]:
auth_user_data.shape

(60885, 11)