In [12]:
from keras.applications.resnet50 import ResNet50
from keras.preprocessing import image
from keras.applications.resnet50 import preprocess_input, decode_predictions
import numpy as np
import pandas as pd

In [18]:
model = ResNet50(weights='imagenet')

In [14]:
def predict(img_path):
    img = image.load_img(img_path, target_size=(224, 224))
    x = image.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x = preprocess_input(x)
    preds = model.predict(x)
    return decode_predictions(preds, top=3)[0]

In [15]:
data1 = predict('elephant1.jpg')
pd.DataFrame(data1, columns=['class', 'description', 'probability'])

       class       description  probability
0  n02504458  African_elephant     0.637908
1  n02504013   Indian_elephant     0.215379
2  n01871265            tusker     0.136511

In [16]:
data2 = predict('elephant2.jpg')
pd.DataFrame(data2, columns=['class', 'description', 'probability'])

       class       description  probability
0  n02504458  African_elephant     0.704762
1  n02504013   Indian_elephant     0.182036
2  n01871265            tusker     0.113013

In [17]:
data3 = predict('car1.jpg')
pd.DataFrame(data3, columns=['class', 'description', 'probability'])

       class description  probability
0  n04285008  sports_car     0.649517
1  n04037443       racer     0.317308
2  n02974003   car_wheel     0.010551